nav#nav {
  color: #000;
  font-family: Arial Narrow, Arial;
  font-stretch: condensed;
  font-size: 11pt;
  text-align: center;

  a,
  a:visited {
    padding: 3px;
    text-decoration: none;
    color: #000;
  }

  a:hover {
    border: solid 1px #ccc;
  }

  a.nav-active {
    color: #000;
    border: solid 1px #000;
  }

  /* Both menu and submenu shared: */
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;

    li {
      display: block;
      text-align: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }  
  }

  /* Main menu specific styles */
  ul.nav-main {
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* Sub-menu specific styles */
  ul.nav-sub {
    margin: 0 0 60px 0;
    font-size: 16px;
  }

  /* Hamburger menu implementation */
  input, label {
    display: none;
  }

  label {
    position: absolute;
    top: -45px;
    right: 8px;
    transition: .4s;

    width: 1.75em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid  #555;
    border-bottom: 0.2em solid  #555;
  }
  label:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #555;
}
  label:hover {
    cursor: pointer;
  }
}

/* Hamburger menu implementation */
/* For CSS inspiration see https://codepen.io/torbencolding/pen/OPwwOg */
@media only screen and (max-width: 960px) {
  nav#nav {
    position: relative;

    a.nav-active {
      border: none;
      color: #c00;
    }

    div {
      transition: all .5s;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;

      ul {
        flex-wrap: wrap;
        box-shadow: 0 0 5px rgba(0, 0, 0, .7);
        font-size: 140%;

        li {
          flex: none;
          width: 100%;
          border-bottom: solid 1px rgb(192, 190, 190);
        }
      }

      ul.nav-sub {
        font-size: 120%;
        margin: 0;
      }
    }
    input[type="checkbox"]:checked+div {
      transform: translateY(-600px);
      transition: all .5s;
    }
    label {
      display: block;
    }
  }
}

@media print {
  nav#nav {
    display: none;
  }
}
