---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="MTB-Lohja toy - Sivua ei löytynyt">
  <h2>404 - Sivua ei löytynyt</h2>
  <p>Anteeksi, mutta sivua jota hait ei löytynyt.</p>
  <a href="/">← Takaisin etusivulle</a>
</BaseLayout>